<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Open Source Version Of Twitter made in Ruby on Rails</a> is a project to make a web development with 
  This simple information and open source
  application. @YanPromodj for more updates and releases.
</p>